body {
  background-color: #d3e7d3;
}

input,
button {
  font: inherit;
}

form {
  label em {
    font-style: normal;
    display: block;
  }
}

h1 {
  color: #648166;
}

/*
  _                          
 | |                         
 | |__   ___  _ __ ___   ___ 
 | '_ \ / _ \| '_ ` _ \ / _ \
 | | | | (_) | | | | | |  __/
 |_| |_|\___/|_| |_| |_|\___|
*/

[data-route="/"] {
}

/*
  _             _           __  _                         
 | |           (_)         / / (_)                        
 | | ___   __ _ _ _ __    / /__ _  __ _ _ __  _   _ _ __  
 | |/ _ \ / _` | | '_ \  / / __| |/ _` | '_ \| | | | '_ \ 
 | | (_) | (_| | | | | |/ /\__ \ | (_| | | | | |_| | |_) |
 |_|\___/ \__, |_|_| |_/_/ |___/_|\__, |_| |_|\__,_| .__/ 
           __/ |                   __/ |           | |    
          |___/                   |___/            |_|    
*/

[data-route="/signup"] {
  .btn {
    background-color: #ffffff;
  }

  .popin__one h1 {
    margin-top: 0;
  }

  .popin__two {
    display: flex;
    flex-direction: column;
    p:last-child {
      margin-top: auto;
      margin-bottom: 0;
    }

    p:first-child {
      margin-top: 0;
    }
  }

  .popin__two strong {
    display: block;
    font-size: 150%;
  }

  p small {
    color: gray;
  }
  p small + .btn {
    margin-top: 1em;
  }
}

[data-route="/login"] {
  html,
  body {
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 300;
  }
  .hero.is-success {
    background: #f2f6fa;
  }
  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .box {
    margin-top: 5rem;
  }
  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }
  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
  input {
    font-weight: 300;
  }
  p {
    font-weight: 700;
  }
  p.subtitle {
    padding-top: 1rem;
  }
}
@import '../node_modules/bulma/bulma.sass'